@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=Patua+One&family=Playfair+Display:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Playfair Display", serif;
  box-sizing: border-box;
  background-color: #4887b0;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

img {
  object-position: center;
}

.grid-two-column {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
}
